.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 40rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions1 button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #f3edeb;
  border-color: #0e0400;
  color: white;
}

.actions1 button:hover,
.actions1 button:active {
  background-color: #ebe4e1;
  border-color: #f7f4f3;
  color: white;
}

.actions .button--alt {
  color: #030100;

}

.actions1 .button--alt {
  color: #0c0401;

}

.actions .button {
  background-color: #050200;
  color: white;
}

.actions1 .button {
  background-color: #0e0400;
  color: white;
}